/* style navbar */
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;

    color: #252C29;
    margin-left: 2rem;
}

#navbarmedikago {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
}
/* style navbar */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
