{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'resep/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'resep/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resep/style.css' %}">

    <title>Medikago | Buat Resep</title>
</head>

<body>

    {% include 'menu/menuAdmin.html' %}

    <div class = "judul">
        <h1>Form Pembuatan Resep</h1>
    </div>

    <div class="warning">
        <h3>{{error}}</h3>
    </div>

    <div class = "isian">
        <form action="." method="POST">
            
            {% csrf_token %}
            <div class="formulir">
                <p>
                    <label for="id_id_konsultasi">ID Konsultasi:</label>
                    <select name="id_konsultasi" id="id_id_konsultasi">
                        {% for i in daftar_konsultasi %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="id_id_transaksi">ID Transaksi:</label>
                    <select name="id_transaksi" id="id_id_transaksi">
                        {% for j in daftar_transaksi %}
                        <option value="{{j}}">{{j}}</option>
                        {% endfor %}
                    </select>
                </p>

                <div class="link_formset">
                    <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
                    <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                    <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
                    <p>
                        <label for="id_form-0-daftar_kode_obat">Daftar kode obat:</label>
                        <select name="form-0-daftar_kode_obat" id="id_form-0-daftar_kode_obat">
                            {% for k in daftar_obat %}
                            <option value="{{k}}">{{k}}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>
            </div>

            <a class="add_form" href="#">[tambah]</a>

            <div class="tombol">
                <button type="submit" name="button-submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
    <script src="{% static 'resep/js/createresep.js' %}"></script>
</body>

</html>