{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'resep/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'resep/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resep/style.css' %}">

    <title>Medikago | Daftar Resep</title>
</head>

<body>

    {% if role == "admin" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Daftar Resep</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No Resep</th>
                <th scope="col">Total Harga</th>
                <th scope="col">ID Konsultasi</th>
                <th scope="col">ID Transaksi</th>
                <th scope="col">Daftar Obat</th>
                {% if role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="resep">
                {% for resep in rows %}
                <tr>
                    <td>{{ resep.no_resep }}</td>
                    <td>Rp{{ resep.total_harga }}</td>
                    <td>{{ resep.id_konsultasi }}</td>
                    <td>{{ resep.id_transaksi }}</td>
                    <td>
                        {% for obat in daftar_obat %}
                            {% if obat.no_resep == resep.no_resep %}
                                <li>{{ obat.kode_obat }}</li>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if role == "admin" %}                    
                        <td>
                            <a href="{% url 'delete resep' slug=resep.no_resep %}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 1%;">delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>