* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.tulisan p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    color: #252C29;
    display: flex;
    justify-content: center;
}

.judul {
    display: flex;
    justify-content: center;
    padding-top : 2rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;

    color: #252C29;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    margin-block-end: 0;

    color: red;
}

/* forms styling */
.tombol {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.formulir {
    align-items: center;
    padding: 0 25rem;
}

input {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

input[type=text] {
    border: 2px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;

    color: #252C29;
    padding: 0.5rem 0.5rem;
}

input[type=date] {
    border: 2px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;

    color: #252C29;
    padding: 0.5rem 0.5rem;
}

input[type=text]:read-only{
    opacity: 50%;
 }

input[type=password] {
    border: 2px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;

    color: #252C29;
    padding: 0.5rem 0.5rem;
}

input[type=email] {
    border: 2px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;

    color: #252C29;
    padding: 0.5rem 0.5rem;
}

button[type=submit] {
    background-color : #252C29;
    border: 2px solid #252C29;
    padding: 0.5rem 2rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

button[type=submit]:hover {
    background-color : #252C29;
    border: 2px solid #252C29;
}

ul {
    list-style-type: none;
    text-align: center;
    color: red;
}

/* roles styling */
#wrapper-top{
    max-width: 50rem;
    min-width: 20rem;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
}

ul {
  list-style-type: none;
}

.status{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* identical to box height */

    color: #252C29;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border: 2px solid #252C29;
    min-width: 12rem;
    min-height: 5rem;
}

.coba2{
    padding-left: 1rem;
}

.coba3{
    padding-left: 1rem;
}

#gobs{
    padding-top: 1.5rem;
    justify-content: center;
}

.status:hover{
    background-color: #252C29;
    color: #FFFFFF;
}

.add_form {
    padding-left: 25rem;
}

@media(max-width: 1282px){
    .coba2{
        padding-left: 0;
    }
    .coba3{
        padding-left: 0;
    }
}
