/* style navbar */
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;

    color: #252C29;
    margin-left: 2rem;
}

#navbarmedikago {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
}
/* style navbar */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.judul {
    display: flex;
    justify-content: center;
    padding-top : 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;

    color: #252C29;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    margin-block-end: 0;

    color: red;
}

/* daftar obat */
.tabel {
    padding: 0 2rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

th, td {
    text-align: center;
}

/* create obat */
.tombol {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.formulir {
    align-items: center;
    padding: 0 25rem;
}

select {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;

    border: 2px solid #252C29;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

button[type=submit] {
    background-color : #252C29;
    border: 2px solid #252C29;
    padding: 0.5rem 2rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

button[type=submit]:hover {
    background-color : #252C29;
    border: 2px solid #252C29;
}

.back{
    padding-left: 2rem;
    padding-top: 1rem;
}

.back button[type=submit] {
    color: #252C29;
    background-color : #FFFFFF;
    border: 2px solid #252C29;
    padding: 0.5rem 2rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.back button[type=submit]:hover {
    background-color : #ffffff;
    border: 2px solid #252C29;
}