{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'profil/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'profil/style.css' %}">

    <title>Medikago | Profil</title>
</head>

<body>
    {% if role == "admin" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Profil Pengguna</h1>
    </div>

    {% for user in users %}

    <h2>Username</h2>
    <h6>{{ user.username }}</h6>

    <h2>Nomor Identitas</h2>
    <h6>{{ user.nomor_id }}</h6>

    <h2>Nama Lengkap</h2>
    <h6>{{ user.nama_lengkap }}</h6>

    <h2>Tanggal Lahir</h2>
    <h6>{{ user.tanggal_lahir }}</h6>

    <h2>Email</h2>
    <h6>{{ user.email }}</h6>

    <h2>Alamat</h2>
    <h6>{{ user.alamat }}</h6>

    {% endfor %}

    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>