{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">

    <title>Medikago | Daftar RS Cabang</title>
</head>

<body>
    {% if request.session.role == "ADMIN" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Daftar RS Cabang</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Kode RS</th>
                <th scope="col">Nama</th>
                <th scope="col">Tanggal Pendirian</th>
                <th scope="col">Jalan</th>
                <th scope="col">Nomor</th>
                <th scope="col">Kota</th>
                {% if request.session.role == "ADMIN" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="obat">
                {% for rs in rows %}
                <tr>
                    <td>{{ rs.kode_rs }}</td>
                    <td>{{ rs.nama }}</td>
                    <td>{{ rs.tanggal_pendirian }}</td>
                    <td>{{ rs.jalan }}</td>
                    <td>{{ rs.nomor }}</td>
                    <td>{{ rs.kota }}</td>
                    {% if request.session.role == "ADMIN" %}
                        <td>
                            <a href="{% url 'rs_cabang:update rs' slug=rs.kode_rs %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 1%;">update</a>
                            <a href="{% url 'rs_cabang:delete rs' slug=rs.kode_rs %}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 1%;">delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>