{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikago | Dokter RS Cabang</title>

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">
</head>
<body>
    {% if request.session.role == "ADMIN" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}
    
    <div class = "judul">
        <h1>Daftar Dokter RS Cabang</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">ID Dokter</th>
                {% if role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for rs in rows %}
                <tr>
                    <td>{{rs.no}}</td>
                    <td>{{rs.kode_rs}}</td>
                    <td> 
                        {% for doc in rs.dokter %}
                            <p>{{doc.id_dokter}}</p>
                        {% endfor %}
                    </td>
                    {% if role == "admin" %}
                        <td>
                            {% for doc in rs.dokter %}
                            <a href="{% url 'rs_cabang:update_dokter_rscabang' id=doc.id_dokter %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 1%;">Update</a> <a href="{% url 'rs_cabang:delete_dokter_rscabang' id=doc.id_dokter %}" class="btn btn-outline-secondary btn-sm" style="margin-bottom: 1%;">Delete</a>
                            <br>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>

</body>
</html>