{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'administrator/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'administrator/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'administrator/style.css' %}">

    <title>Medikago | Pendaftaran Administrator</title>
</head>

<body>

    {% include 'menu/menuAdmin.html' %}

    <div class = "judul">
        <h1>Form Pendaftaran Administrator RS Cabang</h1>
    </div>

    <div class="warning">
        <h3>{{error}}</h3>
    </div>

    <div class = "isian">
        <form action="#" method="POST">
            
            {% csrf_token %}
            <div class="formulir">
                <p>
                    <label for="id_no_pegawai">No Pegawai:</label>
                    <select name="no_pegawai" id="id_no_pegawai">
                        {% for i in no_pegawai %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><label for="id_kode_rs">Kode RS:</label> 
                    <select name="kode_rs" id="id_kode_rs">
                        {% for j in kode_rs %}
                        <option value="{{j}}">{{j}}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>

            <div class="tombol">
                <button type="submit" name="button-submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>