{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/style.css' %}">
    <script>
        function popupCon() {
        if (confirm("Apakah data yang anda masukkan sudah benar?")) {
            return true;
            } 
        else {
            return false;
            }
        }
    </script>
    <title>Medikago | Pendaftaran Admin</title>
</head>

<body>
        <div class = "judul">
            <h1>Form Pendaftaran Administrator</h1>
        </div>

        <div class="warning">
            <h3>{{error}}</h3>
        </div>
    
        <div class = "isian">
            <form action="." method="POST">
                
                {% csrf_token %}
                <div class="formulir">
                    {{form.as_p}}
                </div>
    
                <div class="tombol">
                    <button value="submit request" onclick="return popupCon()" type="submit" name="button-submit" class="btn btn-primary">Daftar</button>
                </div>
    
            </form>
        </div>

    </body>
</html>