{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/style.css' %}">

    <title>Medikago | Log In</title>
</head>

<body>
        <div class = "judul">
            <h1>Selamat Datang di Medikago</h1>
        </div>

        <div class="warning">
            <h3>{{error}}</h3>
        </div>
    
        <div class = "isian">
            <form action="." method="POST">
                
                {% csrf_token %}
                <div class="formulir">
                    {{form.as_p}}
                </div>
    
                <div class="tombol">
                    <button type="submit" name="button-submit" class="btn btn-primary">Sign In</button>
                </div>
    
            </form>
        </div>

        <div class="tulisan">
            <p>
                Belum punya akun? <a href="{% url 'role' %}"> Daftar</a>
            </p>
        </div>

    </body>
</html>