{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">

    <title>Medikago | Daftar Obat</title>
</head>

<body>
    {% if role == "admin" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Daftar Obat</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Kode</th>
                <th scope="col">Stok</th>
                <th scope="col">Harga</th>
                <th scope="col">Komposisi</th>
                <th scope="col">Bentuk Sediaan</th>
                <th scope="col">Merk Dagang</th>
                {% if role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="obat">
                {% for obat in rows %}
                <tr>
                    <td>{{ obat.kode }}</td>
                    <td>{{ obat.stok }}</td>
                    <td>Rp{{ obat.harga }}</td>
                    <td>{{ obat.komposisi }}</td>
                    <td>{{ obat.bentuk_sediaan }}</td>
                    <td>{{ obat.merk_dagang }}</td>
                    {% if role == "admin" %}
                        <td>
                            <a href="{% url 'update' slug=obat.kode %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 1%;">update</a>
                            <a href="{% url 'delete obat' slug=obat.kode %}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 1%;">delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>