{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">

    <title>Medikago | Daftar Sesi Konsultasi</title>

  </head>

  <body>
    {% if role == "admin" %}
      {% include 'menu/menuAdmin.html' %}
    {% else %}
      {% include 'menu/menu.html' %}
    {% endif %}

    <section id = "konsultasi" class = "daftar">
      <div class = "container-fluid">
        <div class = "row">
          <div class = "col d-flex justify-content-center">
            <div class = "judul">
              <h1>Daftar Sesi Konsultasi</h1>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col">
            <div class = "tabel">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID Konsultasi</th>
                    <th scope="col">Nomor Pasien</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Biaya</th>
                    <th scope="col">Status</th>
                    <th scope="col">ID Transaksi</th>
                    {% if request.session.role == "ADMIN" %}
                      <th scope="col">Action</th>
                    {% endif %}
                  </tr>
                </thead>

                <tbody>
                  {% for konsultasi in rows %}
                    <tr>
                      <td>{{ konsultasi.id_konsultasi }}</td>
                      <td>{{ konsultasi.no_rekam_medis_pasien }}</td>
                      <td>{{ konsultasi.tanggal }}</td>
                      <td>{{ konsultasi.biaya }}</td>
                      <td>{{ konsultasi.status }}</td>
                      <td>{{ konsultasi.id_transaksi }}</td>

                      {% if role == "admin" %}
                        <td><button class='btn btn-dark' onclick="location.href='{% url 'sesi_konsultasi:update_sesi_konsultasi' slug=konsultasi.id_konsultasi %}'">UPDATE</button><button class='btn btn-dark float-right' onclick="location.href='{% url 'sesi_konsultasi:delete_sesi_konsultasi' slug=konsultasi.id_konsultasi %}'">DELETE</button></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d51ef034d.js" crossorigin="anonymous"></script>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
  </body>
</html>