{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styleTransaksi.css' %}">
    
    <title>Medikago | Buat Transaksi</title>
</head>

<body>
    <div>
        {% include 'menu/menuAdmin.html' %}

        <div class="judul">
            <h1> Form Pembuatan Transaksi</h1>
        </div>
        <div class="tengah">
            <form action="/daftar-transaksi/buat/" method="POST">
                
                {% csrf_token %}
                <div class="formulir">
                    {{form.as_p}}
                </div>
    
                <div class="tombol tengah">
                    <button value="submit request" onclick="return popupCon()" type="submit" name="button-submit" class="btn btn-primary">Submit</button>
                </div>
    
            </form>
        </div>
        <br>
        <div class="tengah">
            <a href="/daftar-transaksi/">
                <button class="btn btn-dark">Kembali</button>
            </a>
        </div>
    </div>    
    <script>
        function popupCon() {
        if (confirm("Apakah data yang anda masukkan sudah benar?")) {
            return true;
            } 
        else {
            return false;
            }
        }
    </script>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>

</body>

</html>