{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styleTransaksi.css' %}">
    
    <title>Medikago | Daftar Transaksi</title>
</head>

<body>
    {% if request.session.role == "ADMIN" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class="judul">
        <h1> Daftar Transaksi</h1>
    </div>
    
    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Nomor Rekam medis Pasien</th>
                <!-- Kalo Admind Doang!!! -->
                {% if request.session.role == "ADMIN" %}
                <th scope="col">Action</th> 
                {% endif %}
              </tr>
            </thead>
            <tbody id="transaksi">
                {% for row in transaksi %}
                <tr>
                    <td> {{row.id_transaksi}} </td>
                    <td> {{row.tanggal}} </td>
                    <td> {{row.status}} </td>
                    <td> {{row.total_biaya}} </td>
                    <td> {{row.waktu_pembayaran}} </td>
                    <td> {{row.no_rekam_medis}} </td>
                    <!-- Kalo admin Doang!! -->
                    {% if request.session.role == "ADMIN" %}
                    <td>
                        <form action="/daftar-transaksi/update/" method="GET">
                            {% csrf_token %}
                            <button class="btn btn-light">[update]</button>
                            <input type="hidden" value="{{ row.id_transaksi }}" name="id_transaksi" />
                            <input type="hidden" value="{{ row.tanggal }}" name="tanggal" />
                            <input type="hidden" value="{{ row.status }}" name="status" />
                            <input type="hidden" value="{{ row.total_biaya }}" name="total_biaya" />
                            <input type="hidden" value="{{ row.waktu_pembayaran }}" name="waktu_pembayaran" />
                            <input type="hidden" value="{{ row.no_rekam_medis }}" name="no_rekam_medis" />
                            
                        </form>
                        <form action="/daftar-transaksi/hapus/" method="POST">
                            {% csrf_token %}
                            <button class=" btn btn-danger">[delete]</button>
                            <input type="hidden" value="{{ row.id_transaksi }}" name="id_transaksi" />
                            
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>