{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikago | Buat Layanan Poliklinik</title>

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">
    <link rel="stylesheet" href="{% static 'layanan_poliklinik/style.css' %}">
</head>
<body>
    {% include 'menu/menuAdmin.html' %}

    <div class = "judul">
        <h1>Buat Layanan Poliklinik</h1>
    </div>

    <div class = "isian">
        <form action="" method="POST">
            {% csrf_token %}
                <div class="formulir">
                    <p>
                        <label for="nama_layanan">Nama Layanan:</label>
                        <input type="text" name="nama" id="nama_layanan">
                    </p>
                    <p>
                        <label for="deskripsi">Deskripsi:</label>
                        <input type="text" name="deskripsi" id="deskripsi">
                    </p>
                    <p>
                        <label for="kode_rs">Kode RS:</label>
                        <select name="kode-rs" id="kode_rs">
                            {% for kode in kode_rs %}
                            <option value="{{kode}}">{{kode}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <div class="link_formset">
                        <div class="jadwal" style=
                            "padding: 2%;
                            margin-bottom: 2%;
                            border-radius: 4%;
                            background: whitesmoke;"   
                        >
                            <p>
                                <label for="hari-0">Hari:</label>
                                <input type="text" name="hari-0" id="hari-0">
                            </p>
                            <p>
                                <label for="waktu-mulai-0">Waktu Mulai:</label>
                                <input type="time" name="waktu-mulai-0" id="waktu-mulai-0">
                            </p>
                            <p>
                                <label for="waktu-selesai-0">Waktu Selesai:</label>
                                <input type="time" name="waktu-selesai-0" id="waktu-selesai-0">
                            </p>
                            <p>
                                <label for="kapasitas-0">Kapasitas:</label>
                                <input type="text" name="kapasitas-0" id="kapasitas-0">
                            </p>
                            <p>
                                <label for="id-dokter-0">Id Dokter:</label>
                                <select name="id-dokter-0" id="id-dokter-0">
                                    {% for id in id_dokter %}
                                    <option value="{{id}}">{{id}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                    <a class="add_form btn btn-outline-info" href="#">Tambah Jadwal</a>
                </div>
    
                <div class="tombol">
                    <button type="submit" name="button-submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var number = 0
            $('.add_form').click(function(e){
                number += 1
                var form = `<label for="hari-` + number + `">Hari:</label>`;
                form += `<input type="text" name="hari-` + number+ `" id="hari-` + number + `">`;
                form += `<label for="waktu-mulai-` + number + `">Waktu Mulai:</label>`;
                form += `<input type="time" name="waktu-mulai-` + number+ `" id="waktu-mulai-` + number + `">`;
                form += `<label for="waktu-selesai-` + number + `">Waktu Selesai:</label>`;
                form += `<input type="time" name="waktu-selesai-` + number+ `" id="waktu-selesai-` + number + `">`;
                form += `<label for="kapasitas-` + number + `">Kapasitas:</label>`;
                form += `<input type="text" name="kapasitas-` + number+ `" id="kapasitas-` + number + `">`;
                form += `<label for="id-dokter-` + number + `">Id Dokter:</label>`;
                form += `<select name="id-dokter-` + number+ `" id="id-dokter-` + number + `">` + `{% for id in id_dokter %}
                                    <option value="{{id}}">{{id}}</option>
                                    {% endfor %}
                                </select>`;
                var item = `<div style=
                            "padding: 2%;
                            margin-bottom: 2%;
                            border-radius: 4%;
                            background: whitesmoke;" >` + form + `</div>`;
                $('.link_formset').append(item);
            });
        });
    </script>
</body>
</html>