{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikago | Jadwal Layanan Poliklinik</title>

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">
</head>
<body>
    {% if request.session.role == "ADMIN" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Jadwal Layanan Poliklinik</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID Jadwal Poliklinik</th>
                <th scope="col">Hari</th>
                <th scope="col">Waktu Mulai</th>
                <th scope="col">Waktu Selesai</th>
                <th scope="col">Kapasitas</th>
                <th scope="col">ID Dokter</th>
                <th scope="col">ID Poliklinik</th>
                {% if role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for jadwal in rows %}
                <tr>
                    <td>{{ jadwal.id_jadwal_poliklinik }}</td>
                    <td>{{ jadwal.hari }}</td>
                    <td>{{ jadwal.waktu_mulai }}</td>
                    <td>{{ jadwal.waktu_selesai }}</td>
                    <td>{{ jadwal.kapasitas }}</td>
                    <td>{{ jadwal.id_dokter }}</td>
                    <td>{{ jadwal.id_poliklinik }}</td>
                    {% if role == "admin" %}
                        <td>
                            <a href="{% url 'update_jadwal_layanan_poliklinik' id_poli=jadwal.id_poliklinik id_jadwal=jadwal.id_jadwal_poliklinik %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 1%;">Update</a> <a href="{% url 'delete_jadwal_layanan_poliklinik' id_poli=jadwal.id_poliklinik id_jadwal=jadwal.id_jadwal_poliklinik %}" class="btn btn-outline-secondary btn-sm" style="margin-bottom: 1%;">Delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if role == "admin" %}
            <center>
                <a class="add_form btn btn-outline-info" href="{% url 'create_jadwal_layanan_poliklinik' id=id_poliklinik %}">Tambah Jadwal</a>
            </center>
        {% endif %}
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>
</html>