{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikago | Layanan Poliklinik</title>

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">
</head>
<body>
    {% if role == "admin" %}
        {% include 'menu/menuAdmin.html' %}
    {% else %}
        {% include 'menu/menu.html' %}
    {% endif %}

    <div class = "judul">
        <h1>Layanan Poliklinik</h1>
    </div>

    <div class = "tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID Layanan Poliklinik</th>
                <th scope="col">Nama</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">Jadwal Poliklinik</th>
                {% if role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for layanan in rows %}
                <tr>
                    <td>{{layanan.id_poliklinik}}</td>
                    <td>{{layanan.nama}}</td>
                    <td>{{layanan.deskripsi}}</td>
                    <td>{{layanan.kode_rs_cabang}}</td>
                    <td>
                        <a href="{% url 'jadwal_layanan_poliklinik' id=layanan.id_poliklinik %}" class="btn btn-outline-info btn-sm">Lihat Jadwal</a>
                    </td>
                    {% if role == "admin" %}
                        <td>
                            <a href="{% url 'update_layanan_poliklinik' id=layanan.id_poliklinik %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 1%;">Update</a>
                            <a href="{% url 'delete_layanan_poliklinik' id=layanan.id_poliklinik %}" class="btn btn-outline-secondary btn-sm" style="margin-bottom: 1%;">Delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>
</html>